#background_exit_ad {
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 400;
  border: none; }
  #background_exit_ad:hover button {
    background: #02C54C; }

#reloader {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 15px;
  height: 15px;
  z-index: 500;
  opacity: 0; }
  #reloader .restarter {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px; }

sup {
  vertical-align: text-top;
  font-size: 0.5em;
  position: absolute;
  line-height: 1em;
  top: 0.2em;
  right: 0px; }

body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.1em; }
  body,
  body td {
    font-family: wf_gdsage-bold;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff; }
  body .sherpa,
  body td.sherpa,
  body td .sherpa,
  body button.sherpa,
  body button .sherpa {
    font-family: wf_gd_sherpa_regular; }
  body .boing,
  body td.boing,
  body td .boing,
  body button.boing,
  body button .boing {
    font-family: wf_gdsage-bold; }

.logo {
  position: absolute;
  right: 26px;
  bottom: 26px;
  width: 84px;
  height: 18.48px;
  opacity: 1;
  z-index: 100; }
  .logo #gd_logo {
    fill: white;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%; }
    .logo #gd_logo path {
      opacity: 0; }

#container_ad {
  width: 728px;
  height: 90px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0; }
  #container_ad .full-container {
    /*
    	border:1px solid #555;
*/ }

.frame-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 728px;
  height: 90px; }
  .frame-container .text span {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    float: left;
    margin-right: 0.26em; }
    .frame-container .text span:last-child {
      margin-right: 0; }
    .frame-container .text span.supered {
      padding-right: 0.26em; }
  .frame-container.background .bgimg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 728px;
    height: 90px; }
  .frame-container.background .frame-1 {
    z-index: 1; }
  .frame-container.background .frame-2 {
    z-index: 3; }
  .frame-container.background .frame-3 {
    z-index: 5; }
  .frame-container .frame {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 728px;
    height: 90px;
    overflow: hidden;
    opacity: 0; }
  .frame-container.middleground {
    opacity: 0;
    z-index: 10; }
    .frame-container.middleground #svg_mg {
      display: block;
      margin: 0;
      width: 728px;
      height: 90px;
      fill: #1976D2; }
    .frame-container.middleground #svg_f2,
    .frame-container.middleground #svg_f3 {
      visibility: hidden; }
    .frame-container.middleground .overlay svg {
      display: block;
      margin: 0;
      position: absolute;
      bottom: 0px;
      width: 728px;
      height: 90px;
      fill: #1976D2; }
  .frame-container.foreground {
    z-index: 20; }
    .frame-container.foreground .textholder {
      position: absolute;
      bottom: 14px;
      left: 26px;
      width: 694px; }
    .frame-container.foreground .frame-1 .text span:nth-child(0) {
      clear: both; }
    .frame-container.foreground .frame-1 .text span:nth-child(0) {
      clear: both; }
    .frame-container.foreground .frame-2 .text span:nth-child(0) {
      clear: both; }
    .frame-container.foreground .frame-2 .text span:nth-child(0) {
      clear: both; }
    .frame-container.foreground .frame-3 {
      line-height: 1.1em; }
      .frame-container.foreground .frame-3 .content {
        display: table;
        table-layout: fixed;
        position: absolute;
        left: 26px;
        top: 26px;
        width: 676px;
        height: 38px; }
      .frame-container.foreground .frame-3 .textbox-head {
        display: table-row;
        height: 1px; }
        .frame-container.foreground .frame-3 .textbox-head .stripe {
          background: #ffffff;
          width: 3px;
          height: 100%;
          display: inline-block;
          position: absolute;
          top: 0px;
          left: 0px; }
        .frame-container.foreground .frame-3 .textbox-head .text {
          padding-left: 14px;
          display: table-cell;
          position: relative;
          font-size: 19px;
          font-family: wf_gd_sherpa_regular;
          line-height: 1.05em; }
      .frame-container.foreground .frame-3 .textbox-mid {
        display: table-row; }
        .frame-container.foreground .frame-3 .textbox-mid .text {
          display: table-cell;
          vertical-align: middle;
          font-size: 25px;
          line-height: 1.1em; }
        .frame-container.foreground .frame-3 .textbox-mid .f3b,
        .frame-container.foreground .frame-3 .textbox-mid .f3c,
        .frame-container.foreground .frame-3 .textbox-mid .f3d {
          display: inline; }
        .frame-container.foreground .frame-3 .textbox-mid .f3c {
          display: none; }
        .frame-container.foreground .frame-3 .textbox-mid .f3d {
          display: none; }
      .frame-container.foreground .frame-3 .textbox-foot {
        display: table-row;
        height: 1px; }
        .frame-container.foreground .frame-3 .textbox-foot .button-wrapper {
          display: table-cell; }
          .frame-container.foreground .frame-3 .textbox-foot .button-wrapper button {
            color: #fff;
            background: #1976D2;
            border-radius: 4px;
            border: none;
            font-weight: 400;
            padding: 0.5em 0.5em;
            font-size: 16px;
            transition: all 0.3s; }
            .frame-container.foreground .frame-3 .textbox-foot .button-wrapper button:hover {
              background: #145FA9; }

/* BEGIN v5 PATCH */
body .full-container#content_ad {
  opacity: 0; }
  body .full-container#content_ad.showing {
    opacity: 1; }

body .full-container .background.frame-container .frame-1, body .full-container .background.frame-container .frame-2, body .full-container .background.frame-container .frame-3 {
  opacity: 1; }

body .full-container .v5frame {
  display: block;
  position: absolute;
  width: 728px;
  height: 90px;
  opacity: 0; }
  body .full-container .v5frame.showing {
    opacity: 1; }

body .full-container .v5frame-2 {
  width: 728px;
  height: 90px;
  left: 0px;
  top: 0px; }

body .full-container .imgframe {
  position: absolute; }

body .full-container .frame-container.foreground button {
  font-family: wf_gd_sherpa_bold; }

body .full-container .frame-container.foreground .frame-1 .textholder, body .full-container .frame-container.foreground .frame-2 .textholder {
  display: table; }
  body .full-container .frame-container.foreground .frame-1 .textholder .text, body .full-container .frame-container.foreground .frame-2 .textholder .text {
    display: table-cell;
    vertical-align: middle; }

body .full-container .frame-container.foreground .frame-3 .content {
  left: 46px;
  width: 208px;
  top: 32px;
  height: 190px; }

body .full-container .frame-container.foreground .frame-3 .textbox-foot .button-wrapper button {
  width: 100%;
  padding: 0.5em 0;
  max-width: 100%;
  background: #004249;
  color: #d8efef; }

body .full-container .frame-container .text {
  color: #d8efef; }
  body .full-container .frame-container .text.reversed {
    color: #004249; }

body .full-container .v5frame {
  background: #004249;
  color: #d8efef; }
  body .full-container .v5frame.reversed {
    background: #d8efef;
    color: #004249; }

body .full-container .imgframe.imgframe-1 {
  width: 235px;
  top: 0px;
  left: 45px;
  height: 90px; }

body .full-container .imgframe.imgframe-2 {
  left: 455px;
  top: 0px;
  width: 235px;
  height: 90px; }

body .full-container .frame-container.foreground .frame-1 .textholder {
  left: 312px;
  top: 0px;
  width: 260px;
  height: 90px; }

body .full-container .frame-container.foreground .frame-2 .textholder {
  left: 200px;
  top: 0px;
  width: 255px;
  height: 90px; }

body .full-container .frame-container.foreground .frame-3 .textbox-mid {
  width: 320px; }

body .full-container .frame-container.foreground .frame-3 .textbox-foot .button-wrapper {
  display: block;
  text-align: center;
  padding: 0 16px; }

body .full-container .frame-container.foreground .frame-3 .content {
  height: 90px;
  left: 200px;
  width: 520px;
  top: 0px; }

body .full-container .frame-container.foreground .frame-3 .textbox-foot .button-wrapper button {
  background: #d8efef;
  color: #004249; }

body .full-container .frame-container.foreground .logo {
  left: 20px;
  top: 0px;
  width: 112px;
  height: 90px; }
  body .full-container .frame-container.foreground .logo #gd_logo {
    fill: #d8efef; }

body .frame-container.background .frame-3 {
  background: #1976D2; }

body .frame-container.foreground .frame-1 .textholder,
body .frame-container.foreground .frame-2 .textholder {
  top: 0px;
  height: 90px;
  display: table;
  left: 26px;
  width: 360px; }
  body .frame-container.foreground .frame-1 .textholder .text,
  body .frame-container.foreground .frame-2 .textholder .text {
    display: table-cell;
    vertical-align: middle; }

body .frame-container.foreground .frame-3 .content {
  display: table;
  table-layout: fixed;
  position: absolute;
  left: 40px;
  top: 0px;
  width: 548px;
  height: 90px; }

body .frame-container.foreground .frame-3 .textbox-head {
  display: table-cell;
  width: 150px;
  vertical-align: middle; }

body .frame-container.foreground .frame-3 .textbox-mid {
  display: table-cell;
  width: 220px;
  vertical-align: middle;
  overflow: hidden;
  padding: 0px 15px; }

body .frame-container.foreground .frame-3 .textbox-foot {
  display: table-cell;
  width: 148px;
  vertical-align: middle; }
  body .frame-container.foreground .frame-3 .textbox-foot .button-wrapper button {
    width: auto;
    max-width: 120px;
    background-color: #02C54C; }
    body .frame-container.foreground .frame-3 .textbox-foot .button-wrapper button:hover {
      background-color: #02C54C; }

body .frame-container.foreground .logo {
  left: auto;
  right: 26px;
  bottom: auto;
  top: 40.76px; }

body {
  font-family: wf_gd_sherpa_bold; }
  body * {
    font-family: wf_gd_sherpa_bold; }
  body .full-container .frame-container.foreground .frame-1 .textholder .text {
    font-family: wf_gd_sherpa_bold; }
  body .full-container .frame-container.foreground .frame-2 .textholder .text {
    font-family: wf_gd_sherpa_bold; }
  body .full-container .frame-container.foreground .frame-3 .textbox-mid .text {
    color: #004249; }
  body .full-container .frame-container.foreground .frame-3 .textbox-foot .button-wrapper button {
    background: #d8efef;
    color: #004249;
    border-radius: 0px; }

body .full-container .frame-container.foreground .logo #gd_logo .tm {
  display: none; }

body .full-container .frame-container.foreground .frame-3 .textbox-foot .button-wrapper .disclaimer {
  color: #004249 !important;
  font-size: 10px;
  margin-top: -3px; }

body .full-container .background.frame-container .frame-1 .imgframe.imgframe-2 {
  left: 342px; }

body .full-container .background.frame-container .texture {
  width: 132px;
  height: 82px;
  position: absolute;
  top: 4px;
  left: 410px; }

body .full-container .foreground.frame-container .frame-1 .textholder {
  width: 415px;
  left: 240px; }

body .full-container .foreground.frame-container .frame-2 .textholder {
  left: 145px;
  width: 195px; }

body .full-container .foreground.frame-container .frame-3 .content {
  display: -ms-flexbox;
  display: flex;
  left: 163px;
  width: 523px;
  -ms-flex-align: center;
      align-items: center; }
  body .full-container .foreground.frame-container .frame-3 .content .textbox-mid {
    margin-left: 64px;
    width: 312px; }
  body .full-container .foreground.frame-container .frame-3 .content .textbox-foot {
    height: auto;
    width: 103px;
    margin-left: auto;
    padding-left: 0px; }
    body .full-container .foreground.frame-container .frame-3 .content .textbox-foot .button-wrapper {
      margin-top: 8px;
      padding: 0px; }

body .full-container .frame-container.foreground .logo #gd_logo {
  fill: #004249; }

body .full-container .imgframe.imgframe-1 {
  left: 155px;
  display: none; }

body .full-container .background.frame-container .texture {
  left: 155px;
  display: none; }

.frame-container.foreground .frame-3 .textbox-foot .button-wrapper button {
  font-size: 14px; }

.frame-container.foreground .frame-3 .textbox-foot .button-wrapper button {
  background: #004249 !important;
  color: #d8efef !important; }

body .full-container .frame-container.foreground .frame-3 .textbox-foot .button-wrapper .disclaimer {
  margin-left: -20px; }

body .full-container .foreground.frame-container .frame-3 .content .textbox-foot {
  margin-top: 12px; }
